<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginservlet</servlet-name>
  	<display-name>loginservlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.loginservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BooksAdd</servlet-name>
  	<display-name>BooksAdd</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.BooksAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditBooksServlet</servlet-name>
  	<display-name>EditBooksServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.EditBooksServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BooksDeleteServlet</servlet-name>
  	<display-name>BooksDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.BooksDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartServlet</servlet-name>
  	<display-name>CartServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveCartItem</servlet-name>
  	<display-name>RemoveCartItem</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RemoveCartItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OldBookSell</servlet-name>
  	<display-name>OldBookSell</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.OldBookSell</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteOldBookServlet</servlet-name>
  	<display-name>DeleteOldBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.DeleteOldBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<display-name>UpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderServlet</servlet-name>
  	<display-name>OrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPasswordServlet</servlet-name>
  	<display-name>ForgotPasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchbookServlet</servlet-name>
  	<display-name>SearchbookServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.SearchbookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactusServlet</servlet-name>
  	<display-name>ContactusServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.ContactusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginservlet</servlet-name>
  	<url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BooksAdd</servlet-name>
  	<url-pattern>/BooksAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditBooksServlet</servlet-name>
  	<url-pattern>/EditBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BooksDeleteServlet</servlet-name>
  	<url-pattern>/BooksDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartServlet</servlet-name>
  	<url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveCartItem</servlet-name>
  	<url-pattern>/RemoveCartItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OldBookSell</servlet-name>
  	<url-pattern>/OldBookSell</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteOldBookServlet</servlet-name>
  	<url-pattern>/DeleteOldBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderServlet</servlet-name>
  	<url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPasswordServlet</servlet-name>
  	<url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchbookServlet</servlet-name>
  	<url-pattern>/SearchbookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactusServlet</servlet-name>
  	<url-pattern>/ContactusServlet</url-pattern>
  </servlet-mapping>
</web-app>
